# ignore all files
/files/*

# ignore all dotfiles
/files/.*

# files ain't be ignored
!/files/.zshrc
!/files/.zshrc.*
!/files/.vim
!/files/.vimrc
!/files/.gitignore
!/files/.gitconfig
!/files/.gitmodules
!/files/.hgrc
!/files/.hgext
!/files/.screenrc

# files be ignored
/files/.vim/*
/files/.vim/.netrwhist
*.pyc

# files ain't be ignored
!/files/.vim/ftplugin
!/files/.vim/indent
!/files/.vim/syntax
