[core]
	pager = less -q -R
	excludesfile = ~/.gitignore
	preloadindex = true
	editor = vim

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	ci = commit -v
	di = diff

[push]
	default = current

[user]
	name = drillbits
	email = neji@drillbits.jp

[pager]
	log  = diff-highlight | less -RX
	show = diff-highlight | less -RX
	diff = diff-highlight | less -RX

[ghq]
	root = ~/src

[url "git@github.com:"]
	insteadOf = https://github.com/
