[user]
	name = drillbits
	email = neji@drillbits.jp
[core]
	excludesfile = ~/.gitignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto
[push]
	default = current
[alias]
	st = status
	co = checkout
	ci = commit -v
	di = diff
	br = branch
	puhs = push
	psuh = push
	pus = push
	puh = push
	pl = !git pull && git submodule update --init
