[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "/Users/drillbits/.vim/bundle/vim-pathogen"]
	path = /Users/drillbits/.vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "/Users/drillbits/.vim/bundle/vim-quickrun"]
	path = /Users/drillbits/.vim/bundle/vim-quickrun
	url = git://github.com/thinca/vim-quickrun.git
